@keyframes reveal3 {
  from {
      transform: translateX(1200px);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}