@keyframes reveal {
    0% {
        transform: translateX(1400px); 
    }
    20% {
        transform: translateX(1200px) rotate(-6deg); 
    }
    40% {
        transform: translateX(1200px) rotate(-6deg); 
    }
    60% {
        transform: translateX(1400px) rotate(0deg);  
    }
    90%{
        transform: translateX(1400px) rotate(0deg);     
    }
    100% {
        transform: translateX(0);
    }
}