@media (min-width: 768px) {
    .create-plan-container {
        padding: 30px;
    }
    
    .calculate-btn {
        padding: 12px 40px;
    }
    
    .back-icon {
        width: 70px;
        left: 30px;
        top: 30px;
    }
}

@media (min-width: 1559px) {
    .create-plan-body {
        padding: 40px;
    }
    
    .create-plan-container {
        max-width: 550px;
        padding: 40px;
    }
    
    .create-plan-title {
        font-size: 2.2rem;
        margin-bottom: 25px;
    }
    
    label {
        font-size: 1.1rem;
    }
    
    input[type="number"],
    select {
        padding: 12px;
        font-size: 1.1rem;
    }
    
    .calculate-btn {
        padding: 15px 45px;
        font-size: 1.3rem;
        max-width: 300px;
    }
    
    .back-icon {
        width: 80px;
        left: 50px;
        top: 50px;
    }
}

@media (max-width: 480px) {
    .create-plan-body {
        padding: 15px;
    }
    
    .back-icon {
        width: 50px;
        left: 15px;
        top: 15px;
    }
    
    .create-plan-container {
        padding: 20px;
        border-radius: 25px;
    }
    
    .create-plan-title {
        font-size: 1.6rem;
    }
    
    .calculate-btn {
        padding: 10px 30px;
        font-size: 1.1rem;
    }
}